.App {
  text-align: center;
}

.container {
  margin-top: 10em;

  .mapContainer {
    position: relative;
    height: 400px;
    overflow: hidden;

    .map {
      max-width: 100%;
    }
  }
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}